<!--Postamble starts here-->
</div>

<div class="postamble">
    <div class="postamble__entry">
        Exported {{num_exported_messages}}
        {% if num_exported_messages == 1%}
            message
        {%else%}
            messages
        {%endif%}
    </div>
</div>

</body>

</html>
<!--Postamble ends here-->
